.page{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #2A2C2F;
  color: #FFF;
  min-width: 320px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
