.page{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #2A2C2F;
  color: #FFF;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 28px 46px 0 46px;
  align-items: flex-end;
}
.header__logo{
  width: 176px;
  height: 52px;
}
.header__lang-link{
  color:#FFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}
.header__lang-link:nth-of-type(1){
  margin:0 18px 0 0;
}
.header__lang-link_active{
  text-decoration: underline;
}
.lead{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0 148px;
} 
.lead__title{
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  width: 720px;
  margin: 56px 0 0 0;
}
.lead__subtitle{
  width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 32px 0 64px 0;
}
.lead__image{
  width: 100%;
  margin: 0 ;
}
.lead__caption{
  align-self: flex-start;
  font-size: 10px;
  margin: 0;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.intro {
  padding: 0 0 0 148px;
  margin-top:92px;
  width: 54%;
}
.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}
.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 40px 0 0 0;
}
.intro__list {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin:33px 0 0 0;
  padding: 0;
}
.intro__list-number{
  font-weight: 400;
}
.photo-grid {
  margin: 92px 0;
  display: grid;
  padding: 0 48px 0 48px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.photo-grid__item {
  width: 100%;
}
.places {
  padding: 0 148px;
}
.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 80px;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas: 
  "title website"
  "image paragraph";
}
.place:last-of-type{
  margin-bottom: 92px;
}
.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
  margin: 0;
}
.place__image {
  width: 100%;
  grid-area: image;
}
.place__website {
  grid-area: website;
  align-self: end;
}
.place__url-heading {
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}
.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-decoration-line: underline;
  margin: 0;
  color: #FFF;
  transition:ease-in-out 0.4s opacity;
}
.place__link:hover{
  opacity: 0.8;
}
.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;  
  grid-area: paragraph;
  margin: 0;
}
.place__paragraph_margin{
  margin-top: 26px;
}
.cover{
  padding: 0 48px;
}
.cover__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  position: relative;
  background-image: url(./images/cover-trains.jpg);
  min-height: 740px;
  background-size: cover;
}
.cover__container:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
  transition: ease-in-out 0.4s opacity;

}
.cover__container:hover:before{
  opacity:0.8 ;
}
.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  z-index:3;
  margin: 0;
}
.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 3;
  margin: 32px 0 0 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  padding: 0 48px 24px 48px;
}
.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.footer__link {
  margin:0 18px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
  text-decoration: none;
  transition: ease-in-out 0.4s opacity;
}
.footer__link:hover{
  opacity: 0.8;
}
.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
}
  
