.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 3;
  margin: 32px 0 0 0;
}
@media screen and (max-width:767px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    margin: 16px 0 0 0;
  }
}