.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  grid-area: paragraph;
  margin: 0;
}
.place__paragraph:last-child{
  margin-top: 26px;
}
.place__paragraph:first-child{
  margin-top: 0;
@media screen and (max-width:1023px) {
  .place__paragraph{
    font-size: 16px;
    line-height: 163%;
  }
  .place__paragraph:last-child{
  margin-top: 25px;
  }
}
@media screen and (max-width:767px) {
  .place__paragraph{
    font-size: 16px;
    line-height: 163%;
    padding: 0 16px;
  }
}
