.intro {
  padding: 0 0 0 11.56%;
  max-width: 690px;
  align-self: flex-start;
}
@media screen and (max-width:1279px) {
  .intro{
    padding: 0 0 0 48px;
  }
}
@media screen and (max-width:1023px) {
  .intro{
    max-width: calc(100% - 48px);
    padding:0 24px;
  }
}
@media screen and (max-width:767px) {
  .intro{
    padding: 0 16px;
    max-width: calc(100% - 32px);
  }
}
