.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px 48px;
  max-width: 1184px;
}
@media screen and (max-width:1023px) {
  .footer{
    padding: 0 24px 24px 24px;
  }
}
@media screen and (max-width:767px) {
  .footer{
    display: block;
    padding: 0 16px;
  }
}
